/***** Media Quries *****/
@media (min-width: 1820px){
	#img{margin-top:-100px;}
	#bottom{margin-top:-100px;}
	/* #h1{margin-top:-75px;}  */
	#image{margin-top:-55px;}
	 #server{margin-top:10%;}
	
}
@media only screen  and (max-width: 1366px) {
	
}
@media only screen and (max-width: 1280px) {
	
	
}
@media only screen and (max-width: 1024px) {
	
}
@media only screen and (max-width: 846px) {
	
}
	
@media only screen and (max-width: 650px) {
	
}
